version: '3.8'

services:
  db:
    image: postgres:15-alpine  # Используем ту же версию что и раньше
    environment:
      POSTGRES_DB: lab4db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  web:
    build: .
    image: ghcr.io/tsda04/devops-lab4:latest
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: lab4db
      DB_USER: postgres
      DB_PASSWORD: postgres
    ports:
      - "8181:5000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
